@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.tabs {
  display: flex;
  justify-content: center;
  .tamaro-widget-overlay-shown & {
    display: none;
  }
  &__btn {
    cursor: pointer;
    color: white;
    border: none;
    &.is-active {
      text-decoration: underline;
    }
  }
}

.btn__group {
  .tamaro-widget-overlay-shown & {
    display: none;
  }
}
.btn__payment {
  margin-top: 0;
}

.btn__privacy {
  cursor: pointer;
}

.debugSave {
  color: white;
  cursor: pointer;
}

/* Raisenow Overwrites - All these importants are super bad, but their widget is messing with so many things... */

:root {
  --tamaro-bg-color: #1C1648!important;
  --tamaro-primary-bg-color: rgba(0,0,0,0)!important;
  
  --tamaro-primary-color: #1C1648!important;
  --tamaro-primary-color__hover: #1C1648!important;
  
  --tamaro-button-primary-bg-color: #F8E71C!important;
  --tamaro-button-primary-bg-color__hover: #faec4d!important;
  
  --tamaro-button-color: #F8E71C!important;
  
  --tamaro-text-color: #1C1648!important;
  --tamaro-text-color__hover: #1C1648!important;
}

.modal {  
  #tamaro-widget.tamaro-widget.tamaro-widget {
    background: none;
    // margin-bottom: 5vw;
    .erd_scroll_detection_container{
      display: none!important;
    }
  }
  #tamaro-widget.tamaro-widget .payment-payment-method-details>.main .payment-method-details, 
  #tamaro-widget.tamaro-widget .subscription-payment-method-details>.main .payment-method-details,
  #tamaro-widget.tamaro-widget .payment-payment-method-details>.main .payment-method-details>.main, 
  #tamaro-widget.tamaro-widget .subscription-payment-method-details>.main .payment-method-details>.main,
  #tamaro-widget.tamaro-widget fieldset {
    background: white;
    border: none;
    border-radius: 0.35rem;
  }
  #tamaro-widget.tamaro-widget .widget-content .widget-block .widget-block-header+.widget-block-content,
  #tamaro-widget.tamaro-widget .footer-info {
    margin: 0;
  }
  
  #tamaro-widget-overlay.tamaro-widget.tamaro-widget, 
  #tamaro-widget.tamaro-widget.tamaro-widget {
    font-family: inherit;
  }
  
  #tamaro-widget.tamaro-widget.tamaro-bp-sm .payment-amounts>.main .amounts .amount {
    width: 100%;
  }
  
  #tamaro-widget.tamaro-widget .form-block.input-wrapper .field-block {
    background-image: linear-gradient(0deg,#1C1648 2px,transparent 0),linear-gradient(0deg,#dedede 1px,transparent 0);
  }
  
  #tamaro-widget.tamaro-widget .widget-content .widget-block .widget-block-header .title,
  #tamaro-widget.tamaro-widget .payment-payment-method-details > button.footer,
  #tamaro-widget.tamaro-widget .footer-info > .header,
  #tamaro-widget.tamaro-widget .footer-info > .main .text,
  #tamaro-widget.tamaro-widget .payment-payment-method-details>.main .payment-method-details>.header,
  #tamaro-widget.tamaro-widget .footer-info,
  .transaction-info, 
  .faq {
    display: none;
  }
  
  #tamaro-widget.tamaro-widget .overlay-block-wrapper .overlay-block .overlay-block-header {
    background-color: #1C1648;
    color: white;
  }
  #tamaro-widget.tamaro-widget .overlay-block-wrapper .overlay-block .overlay-block-content {
    color: white;
  }
  
  #tamaro-widget.tamaro-widget .overlay-block-wrapper .overlay-block .overlay-block-header .title {
    color: white;
  }
  
  #tamaro-widget.tamaro-widget .overlay-block-wrapper .overlay-block .overlay-block-header button.close .icon .icon-close .icon-close-inner {
    fill: white;
  }
  
  #tamaro-widget.tamaro-widget .form-block.input-focused .label-block {
    color: #1C1648;
  }
  
  #tamaro-widget.tamaro-widget .payment-submit {
    display: flex;
    justify-content: center;
  }
  
  #tamaro-widget.tamaro-widget .payment-submit .main {
    margin-top: 0;
  }
  
  #tamaro-widget.tamaro-widget .form-block.msisdn .icon-mobile {
    fill: #1C1648;
  }
  
  #tamaro-widget.tamaro-widget .link {
    border: none;
    color: white;
  }
  
  #tamaro-widget.tamaro-widget .link:hover {
    background: none;
  }
  
  #tamaro-widget.tamaro-widget .widget-content .widget-block.payment-submit-block {
    margin-top: 1rem;
  }
  
  #tamaro-widget.tamaro-widget .payment-submit .main button.btn {
    display: inline-block;
    min-height: auto;
    width: auto;
    margin: 1rem 0;
    background: #F8E71C;
    padding: 1rem 3rem;
    border: none;
    border-radius: 10rem;
    color: #1C1648;
    font-size: 1rem;
    line-height: 1.25;
    &:hover {
      background: #faec4d;
    }
  }
  
  #tamaro-widget.tamaro-widget .md-ripple .md-ripple-cont {
    display: none;
  }
}