.buttons, .sharing {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.btn {
    display: inline-block;
    cursor: pointer;
    &--primary, &--secondary {
        margin: 1rem 0;
        background: #F8E71C;
        padding: 1rem 3rem;
        border-radius: 10rem;
        color: #1C1648;
        &.is-disabled {
            opacity: 0.5;
        }
    }
    &--secondary {
        background: lightgray;   
        color: #1C1648;
    }
    &--tertiary {
        color: #1C1648;
    }
}