@import "variables";

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 3vw auto;
    @media (max-width: 48em) {
        margin: 5vw auto;
    }
    &.no-gutter {
        margin: 0 auto;
    }
}
.btn {
    display: inline-block;
    cursor: pointer;
    color: $c-contrast;
    &--primary, &--secondary {
        margin: 1rem 0;
        padding: 1rem 3rem;
        border-radius: 10rem;
        border: 0;
    }
    &--primary {
        background: $c-primary;
        @media (hover: hover) {
            &:hover, &:focus, &:active {
                background: lighten($c-primary, 10%);
            }
        }
        &.is-disabled {
            background: rgba($c-primary, 0.25);
        }
    }
    &--secondary {
        background: $c-secondary;
        @media (hover: hover) {
            &:hover, &:focus {
                background: lighten($c-secondary, 20%);
            }
        }
    }
    &--tertiary {
        .modal & {
            color: white;
        }
    }
}