@import "variables";
@import "mixins";
@import "fonts";
@import "typography";
@import "buttons";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
	word-wrap: break-word;
	&:focus {
		outline: 0; // yeah i know, accessiblity... but it's ugly... will fix this properly soon i promise
	}
}

:root {
	--main-padding: 5vw;
	--close-size: calc(8px + 0.5vw);
	--item-size: calc((100vw - var(--main-padding) * 2 - 6vw) / 4);
	@media (min-width: 48em) {
		--close-size: calc(5px + 0.5vw);
		--main-padding: 20vw;
	}
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-content-zooming: none; /* Disables zooming */
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

html,
body {
	padding: 0;
	margin: 0;
	color: #1C1648;
    font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden; // this is needed to prevent scrollbars when you drag an item to the very edge of the screen
	&.lock {
		user-select: none;
	}
}

main, header {
    margin: 0 auto;
	// max-width: 48em;
	padding: 0 var(--main-padding);
}

a, a:visited {
	color: #1C1648;
	text-decoration: none;
}

a:hover, a:focus {
	color: rgba(#1C1648, 0.85);
	text-decoration: none;
}
p a {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	@include reset-input;
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: none;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

.social {
	display: block;
	padding: 1.5rem 1rem;
	margin: 1rem 0;
	background: rgba(0,0,0,0.05);
    text-align: center;
}
.social {
	background: black;
	color: white;
	width: 100%;
}

.navigation {
	margin: 0 -1em;
	a {
		display: inline-block;
		margin: 0.5em 1em;
	}
}

.disclaimer {
	cursor: pointer;
}

.title, .messages, .tagline {
    text-align: center;
	margin: 2em auto;
	max-width: 95%;
	@media (min-width: 48em) {
		max-width: 85%;
	}
}
.title, .tagline {
	font-size: 1rem;
	font-weight: normal;
	margin-bottom: 1rem;
}

.about__link {
	padding: 1em;
	margin: -1em;
}

.reload {
	text-align: center;
	.reload__trigger {
		cursor: pointer;
		text-decoration: underline;
	}
}

.is-hidden {
	display: none;
}

.warning {
	width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: bottom;
}

.message__name, .message__text {
	position: relative;
	input {
		display: block;
		width: 100%;
		white-space: nowrap;
		padding: 1rem 2rem 1rem 1rem;
	}
	&__counter {
		position: absolute;
		right: 1px;
		top: 50%;
		transform: translateY(-50%);
		color: rgba(0,0,0,0.5);
		background: white;
		padding: calc(1rem - 2px) 0.5rem;
		z-index: 1;
	}
}