@import "variables";
@import "mixins";
@import "fonts";
@import "typography";
@import "buttons";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--main-padding: 5vw;
	--close-size: calc(8px + 0.5vw);
	--item-size: calc((100vw - var(--main-padding) * 2 - 6vw) / 4);
	@media (min-width: 48em) {
		--close-size: calc(5px + 0.5vw);
		--main-padding: 20vw;
	}
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-content-zooming: none; /* Disables zooming */
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

html,
body {
	padding: 0;
	margin: 0;
	color: #1C1648;
    font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
	&.lock {
		user-select: none;
	}
}

main, header {
    margin: 0 auto;
	// max-width: 48em;
	padding: 0 var(--main-padding);
}

input {
    @include reset-input;
}

a, a:visited {
	color: #1C1648;
	text-decoration: none;
}

a:hover, a:focus {
	color: rgba(#1C1648, 0.85);
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.layer, .social {
	display: block;
	padding: 1.5rem 1rem;
	margin: 1rem 0;
	background: rgba(0,0,0,0.05);
    text-align: center;
}
.social {
	background: black;
	color: white;
	width: 100%;
}

.navigation {
	margin: 0 -1em;
	a {
		display: inline-block;
		margin: 0.5em 1em;
	}
}

.pricetag {
	display: flex;
}

.pricetag__text {
	flex: 1;
}

.input__name, .input__msg  {
	display: block;
	width: 100%;
	padding: 1rem;
}

.title, .messages {
    text-align: center;
    max-width: 85%;
    margin: 2em auto;
}

.reload {
	cursor: pointer;
	text-decoration: underline;
}