.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
    }
}
.about {
    flex: 1 0 15%;
    text-align: right;
}

.logo {
    text-align: center;
}