@import '../../styles/variables';

.pricetag {
    display: none;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    background: #F3F3F6;    
    border: 0.75vw solid $c-contrast;
    overflow: hidden;
    z-index: 2;
    font-size: 14px;
    @media (min-width: 48em) {
        border: 0.375vw solid $c-contrast;
        font-size: 1rem;
    }
	@media (min-width: 100em) {
        border: 0.275vw solid $c-contrast;
	}
    body.layer_graphic_loaded & {
        display: block;
    }
    input[type=checkbox]:checked + .pricetag__content > .pricetag__text{
        white-space: unset;
    }
    &__label {
        padding: .5em;
    }    
    &__content {        
        display: flex;
    }
    
    &__text {
        flex: 1;
        padding-right: 3vw;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__price {
        font-weight: bold;
        color: $c-contrast;
        background: $c-primary;
        padding: 0.5em;
        margin: -0.5em;
    }
}