$borderRadius: 1em;
// 100vw - main paddingLR - grid-gap - number of columns
$itemSize: calc((100vw - var(--main-padding) * 2 - 6vw) / 4);

.grid {
    width: 100%;
    display: grid;
    grid-template: #{$itemSize} / $itemSize $itemSize $itemSize $itemSize;
    grid-gap: 2vw;
    background-color: #ffffff;
    outline: 0;
    border-width: 1px;
    border-style: dashed;
    border-color: transparent;
    border-radius: $borderRadius;
}
.item {
    position: relative;
    outline: 0;
    border-radius: 1em;
    width: $itemSize;
    height: $itemSize;
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s ease-out;
    &.sortable-ghost {
        opacity: 0.5;
    }
    &.sortable-drag {
        box-shadow: none!important;
    }
    &.is--yellow {
        background-color: #F2C85B;
        box-shadow: 1px 1px 1em #F2C85B;
    }
    &.is--red {
        background-color: #F86E51;
        box-shadow: 1px 1px 1em #F86E51;
    }
    &.is--blue {
        background-color: #3A0751;
        box-shadow: 1px 1px 1em #3A0751;
    }
    &__content {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: white;
        text-align: center;
        pointer-events: none;
        user-select: none;
    }
    .lock .dropzone.taken & {
        &__content:before {
            content: "🔒";
            display: block;
            color: white;
        }
        opacity: 0.5;
    }
}