.dragzone {
    width: 100%;
    display: grid;
    grid-template: #{var(--item-size)} / var(--item-size) var(--item-size) var(--item-size) var(--item-size) var(--item-size);
    grid-gap: 2vw;
    outline: 0;
}
.draggable {
    position: relative;
    outline: 0;
    border-radius: calc(var(--close-size) * 2);
    width: var(--item-size);
    height: var(--item-size);
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s ease-out;
    &.sortable-ghost {
        opacity: 0.5;
    }
    &.sortable-drag {
        box-shadow: none!important;
    }
    &.is--black {
        background-color: black;
        // box-shadow: 1px 1px 1em #F2C85B;
    }
    &.is--gray {
        background-color: #1C1648;
        // box-shadow: 1px 1px 1em #3A0751;
    }
    &__content {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        text-align: center;
        pointer-events: none;
        user-select: none;
        color: white;
    }
    &__remove {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--close-size);
        user-select: none;
        transform: translate(30%, -30%);
        @media (min-width: 48em) {
            transform: translate(var(--close-size), calc(var(--close-size) * -1));
        }
        cursor: pointer;
        &:before {
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxwYXRoIGQ9Ik02MzguNiA1MDBsMzIyLjctMzIyLjdjMzguMy0zOC4zIDM4LjMtMTAwLjMgMC0xMzguNlM4NjEgLjQgODIyLjcgMzguN0w1MDAgMzYxLjQgMTc3LjMgMzguN0MxMzkgLjQgNzcgLjQgMzguNyAzOC43Uy40IDEzOSAzOC43IDE3Ny4zTDM2MS40IDUwMCAzOC43IDgyMi43Qy40IDg2MSAuNCA5MjMgMzguNyA5NjEuMyA1Ny45IDk4MC40IDgyLjkgOTkwIDEwOCA5OTBzNTAuMS05LjYgNjkuMy0yOC43TDUwMCA2MzguNmwzMjIuNyAzMjIuN2MxOS4xIDE5LjEgNDQuMiAyOC43IDY5LjMgMjguNyAyNS4xIDAgNTAuMS05LjYgNjkuMy0yOC43IDM4LjMtMzguMyAzOC4zLTEwMC4zIDAtMTM4LjZMNjM4LjYgNTAweiIvPjwvc3ZnPg==);
            background: white;
            border-radius: 50%;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
            width: var(--close-size);
            height: var(--close-size);
            padding: var(--close-size);
            line-height: 0;
        }
        .droppable.taken & {
            display: flex;
        }
    }
    .lock & {
        cursor: grabbing;
    }
    // .lock .dropzone.taken & {
        // &__content:before {
        //     content: "🔒";
        //     display: block;
        //     color: white;
        // }
        // &.is--yellow {
        //     background-color: rgba(#F2C85B, 0.5)
        // }
        // &.is--blue {
        //     background-color: rgba(#3A0751, 0.5);
        // }
    // }
}