.dragzone {
    width: 100%;
    display: grid;
    grid-template: #{var(--item-size)} / var(--item-size) var(--item-size) var(--item-size) var(--item-size);
    grid-gap: 2vw;
    outline: 0;
}
.draggable {
    position: relative;
    outline: 0;
    border-radius: calc(var(--close-size) * 2);
    width: var(--item-size);
    height: var(--item-size);
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s ease-out;
    &.sortable-ghost {
        opacity: 0.5;
    }
    &.sortable-drag {
        box-shadow: none!important;
    }
    &.is--yellow {
        background-color: #F2C85B;
        box-shadow: 1px 1px 1em #F2C85B;
    }
    &.is--blue {
        background-color: #3A0751;
        box-shadow: 1px 1px 1em #3A0751;
    }
    &__content {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: white;
        text-align: center;
        pointer-events: none;
        user-select: none;
    }
    &__remove {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--close-size);
        user-select: none;
        transform: translate(var(--close-size), calc(var(--close-size) * -1));
        cursor: pointer;
        &:before {
            content: url(../assets/images/close.svg);
            background: white;
            border-radius: 50%;    
            width: var(--close-size);
            height: var(--close-size);
            padding: var(--close-size);
            line-height: 0;
        }
        .droppable.taken & {
            display: flex;
        }
    }
    .lock & {
        cursor: grabbing;
    }
    // .lock .dropzone.taken & {
        // &__content:before {
        //     content: "🔒";
        //     display: block;
        //     color: white;
        // }
        // &.is--yellow {
        //     background-color: rgba(#F2C85B, 0.5)
        // }
        // &.is--blue {
        //     background-color: rgba(#3A0751, 0.5);
        // }
    // }
}