.layer {
    position: relative;
    &__shelf {
        margin-top: calc((0.225vw + 0.225vh) * -1)
    }
    &__items {
        position: absolute;
        top: 35%;
        left: 0;
        transform: translateY(-100%);
    }
    &__graphic, &__spacer {
        width: 100%;
        display: block;
    }
    &__spacer.has--two-bars {
        display: none;
        @media (max-width: 48em) {
            display: block;
        }
    }
}

.dropzone {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template: #{var(--item-size)} / var(--item-size) var(--item-size) var(--item-size) var(--item-size);
    grid-gap: 2vw;
}

.droppable {
    border: 1px dashed transparent;
    border-radius: calc(var(--close-size) * 2);
    .is-creation & {
        border-color: black;
        //transform: scale3d(1,1,1);
        background: rgba(255,255,255,0.8);
        &.taken {
            border-color: transparent;
            background: none;
        }
        /*.lock & {
            &:not(.taken) {
                animation: draggablePulseBorder 1s linear infinite;
                &:nth-child(2) {
                    animation-delay: 0.15s;
                }
                &:nth-child(3) {
                    animation-delay: 0.25s;
                } 
                &:nth-child(4) {
                    animation-delay: 0.35s;
                }
            }
        }*/
    }
}

/*
@keyframes draggablePulseBorder {
    0% {
        transform:scale3d(0.9,0.9,1);
    }
    20% {
        transform:scale3d(1.01,1.01,1);
    }
    40% {
        transform:scale3d(1,1,1);
    }
    100% {
        transform:scale3d(1,1,1);
    }
}
*/