.dropzone {
    width: 100%;
    display: grid;
    grid-template: #{var(--item-size)} / var(--item-size) var(--item-size) var(--item-size) var(--item-size);
    grid-gap: 2vw;
}

.droppable {
    border: 1px dashed black;
    border-radius: calc(var(--close-size) * 2);
    transform: scale3d(1,1,1);
    outline: 0;
    &.taken {
        border-color: transparent;
    }
    .lock & {
        &:not(.taken) {
            animation: draggablePulseBorder 1s linear infinite;
            &:nth-child(2) {
                animation-delay: 0.15s;
            }
            &:nth-child(3) {
                animation-delay: 0.25s;
            } 
            &:nth-child(4) {
                animation-delay: 0.35s;
            } 
        }
    }
}

@keyframes draggablePulseBorder {
    0% {
        transform:scale3d(0.9,0.9,1);
    }
    20% {
        transform:scale3d(1.01,1.01,1);
    }
    40% {
        transform:scale3d(1,1,1);
    }
    100% {
        transform:scale3d(1,1,1);
    }
}